<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>À propos de moi</title>
    <link href="{{ asset('css/about/styles.css') }}" rel="stylesheet" />
    <style>

    </style>
</head>
<body>

<!-- About Section -->
<section class="page-section text-white mb-0 d-flex align-items-center" id="about" style="min-height: 100vh; background-color: #0e243b;">
    <div class="container">
        <!-- About Section Heading -->
        <h2 class="page-section-heading text-center text-uppercase text-white">À propos de moi</h2>
        <!-- Icon Divider -->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fa-solid fa-address-card"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content -->
        <div class="row align-items-center">
            <!-- Colonne pour l'image -->
            <div class="col-md-6 text-center mb-4 mb-md-0">
                <div class="image-container-about">
                    <img class="masthead-avatar-about img-fluid" src="{{ asset('img/a propos.gif') }}" alt="Avatar image" />
                </div>
            </div>
            <!-- Colonne pour le texte -->
            <div class="col-md-6">
                <div class="about-text">
                    <p>Je m'appelle Arthur Bouchaud, je suis né le 14 janvier 2003, et je suis passionné par l'informatique. Mon intérêt pour ce domaine est bien plus qu'une simple curiosité : c'est un moteur qui me pousse à constamment apprendre et relever des défis techniques. J'adore me plonger dans des problèmes complexes et trouver des solutions, à l'image des challenges que j'ai résolu sur des plateformes comme Root Me ou CyberLearning.</p>
                    <p>Après avoir obtenu mon BAC STI2D, j'ai poursuivi mes études avec un BTS SNIR (Système Numérique Informatique et Réseau) au Lycée Pilote Innovant International (86). Durant cette formation, j'ai découvert mes deux grandes passions : le développement d'applications et la cybersécurité.</p>
                    <p>Depuis 2023, je poursuis un Bac+4 en tant que Concepteur Développeur d'Applications, que je terminerai à la fin juillet 2025. Par la suite, je souhaite m'enrichir sur de nouvelles compétences grâce à un Bac+5 Expert en Sécurité Digitale à l'ENI Ecole Informatique (79).</p>
                    <p>Je suis motivé par l'idée de travailler au sein d'une équipe ambitieuse, curieuse et animée par une envie commune de relever des défis. J'aime collaborer avec des personnes qui partagent cette énergie et qui cherchent constamment à progresser, tant individuellement que collectivement.</p>
                </div>
            </div>
        </div>

    </div>
</section>
<script src="{{ asset('js/about/script.js') }}"></script>

</body>
</html>
