{# templates/contact.html.twig #}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>À propos de moi</title>
    <link href="{{ asset('css/contact/styles.css') }}" rel="stylesheet" />
    <style>

    </style>
</head>
<body>
<section class="page-section" id="contact">
    <div class="container">
        <!-- Contact Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Contactez-moi !</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>

        <!-- Contact Section Form-->
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-7">
                <form id="contactForm">
                    <!-- Champ caché pour le jeton CSRF -->
                    <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token }}">

                    <!-- Name input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="name" name="name" type="text" placeholder="Entrez votre nom..." required />
                        <label for="name">Nom complet</label>
                        <div class="invalid-feedback">Un nom est requis.</div>
                    </div>
                    <!-- Email address input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="email" name="email" type="email" placeholder="nom@example.com" required />
                        <label for="email">Adresse email</label>
                        <div class="invalid-feedback">Une adresse email est requise.</div>
                    </div>
                    <!-- Phone number input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="phone" name="phone" type="tel" placeholder="(123) 456-7890" />
                        <label for="phone">Numéro de téléphone</label>
                        <div class="invalid-feedback">Un numéro de téléphone est requis.</div>
                    </div>
                    <!-- Message input-->
                    <div class="form-floating mb-3">
                        <textarea class="form-control" id="message" name="message" placeholder="Entrez votre message ici..." style="height: 10rem" required></textarea>
                        <label for="message">Message</label>
                        <div class="invalid-feedback">Un message est requis.</div>
                    </div>

                    <!-- Submit messages -->
                    <div class="d-none" id="submitSuccessMessage">
                        <div class="text-center mb-3 text-success">
                            <div class="fw-bolder">Votre message a bien été envoyé !</div>
                        </div>
                    </div>
                    <div class="d-none" id="submitErrorMessage">
                        <div class="text-center text-danger mb-3">Erreur lors de l'envoi du message.</div>
                    </div>

                    <!-- Submit Button-->
                    <button class="btn btn-primary btn-xl" id="submitButton" type="submit">Envoyer</button>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- Script JS -->
<script>

</script>

<script src="{{ asset('js/contact/script.js') }}"></script>

</body>
</html>
