<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Mon Parcours</title>
{#    <link href="{{ asset('styles/parcours/styles.css') }}" rel="stylesheet" />#}
</head>
<body>
<!-- Section Parcours -->
<section class="page-section parcours text-white mb-0 d-flex align-items-center" id="parcours" style="min-height: 100vh; background-color: #0e243b;">
    <div class="container-fluid py-5">

        <!-- Titre de la section -->
        <h2 class="page-section-heading text-center text-white text-uppercase mb-5">Mon parcours</h2>
        <!-- Divider avec icône -->
        <div class="divider-custom divider-light mb-5 d-flex justify-content-center align-items-center">
            <div class="divider-custom-line flex-grow-1"></div>
            <div class="divider-custom-icon mx-3"><i class="fa-solid fa-graduation-cap"></i></div>
            <div class="divider-custom-line flex-grow-1"></div>
        </div>

        <!-- Row pour les cartes des logos -->
        <div class="row mb-5">
            <!-- Carte 1: Groupama Centre Atlantique -->
            <div class="col-md-6 mb-4 px-3">
                <div class="card logo-card h-100">
                    <img src="{{ asset('/build/img/groupama_centre_atlantique.png')}}" alt="Groupama Centre Atlantique" class="img-fluid mb-4" style="max-width: 150px;">
                    <div class="card-body p-0">
                        <!-- Suppression du titre car il est déjà dans le logo -->
                        <!-- <h5 class="logo-card-title">Groupama Centre Atlantique</h5> -->
                        <p class="logo-card-text">Groupama Centre Atlantique - Alternance 2 ans - Développeur Full-Stack </p>
                    </div>
                </div>
            </div>
            <!-- Carte 2: ENI École Informatique -->
            <div class="col-md-6 mb-4 px-3">
                <div class="card logo-card h-100">
                    <img src="{{ asset('/build/img/logo_eni.png')}}" alt="ENI École Informatique" class="img-fluid mb-4" style="max-width: 150px;">
                    <div class="card-body p-0">
                        <!-- Suppression du titre car il est déjà dans le logo -->
                        <!-- <h5 class="logo-card-title">ENI École Informatique</h5> -->
                        <p class="logo-card-text">ENI Ecole Informatique - BAC+3 et +4 - Développeur Full-Stack</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Row pour le horizontal-timeline -->
        <div class="row">
            <div class="col-lg-12">

                <div class="horizontal-timeline">

                    <ul class="list-inline items">

                        <li class="list-inline-item items-list">
                            <div class="px-4">
                                <div class="event-date badge bg-custom text-white">2027</div>
                                <h5 class="pt-2">Expert en Sécurité Digitale</h5>
                                <p class="text-muted">
                                    Bac +5
                                </p>
                                <div>
                                    <a href="https://www.francecompetences.fr/recherche/rncp/36399/" target="_blank" class="btn btn-outline-light btn-sm">Voir plus</a>
                                </div>
                            </div>
                        </li>
                        <li class="list-inline-item items-list">
                            <div class="px-4">
                                <div class="event-date badge bg-white text-dark">2025</div>
                                <h5 class="pt-2">Concepteur Développeur d'Applications</h5>
                                <p class="text-muted">
                                    Bac +4
                                </p>
                                <div>
                                    <a href="https://www.francecompetences.fr/recherche/rncp/37873/" target="_blank" class="btn btn-outline-light btn-sm">Voir plus</a>
                                </div>
                            </div>
                        </li>
                        <li class="list-inline-item items-list">
                            <div class="px-4">
                                <div class="event-date badge bg-white text-dark">2023</div>
                                <h5 class="pt-2">BTS Systèmes Numériques Informatique et Réseaux</h5>
                                <p class="text-muted">
                                    Bac +2
                                </p>
                                <div>
                                    <a href="https://www.francecompetences.fr/recherche/rncp/37391/" target="_blank" class="btn btn-outline-light btn-sm">Voir plus</a>
                                </div>
                            </div>
                        </li>
                        <li class="list-inline-item items-list">
                            <div class="px-4">
                                <div class="event-date badge bg-white text-dark">2021</div>
                                <h5 class="pt-2">BAC STI2D option SIN</h5>
                                <p class="text-muted">
                                    Baccalauréat Technologique
                                </p>
                                <div>
                                    <a href="https://www.onisep.fr/formation/apres-la-3-la-voie-generale-et-technologique/qu-est-ce-que-la-voie-generale-et-technologique/la-voie-technologique-en-premiere-et-terminale/le-bac-sti2d-sciences-et-technologies-de-l-industrie-et-du-developpement-durable" target="_blank" class="btn btn-outline-light btn-sm">Voir plus</a>
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>

            </div>
        </div>

    </div>
</section>
</body>
</html>
