<IfModule mod_rewrite.c>
    RewriteEngine On

    # Rediriger les barres obliques finales si ce n'est pas un dossier
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Gérer le Front Controller (index.php)
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]
</IfModule>
